body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: black;
    margin: auto;
}

header{

    background: linear-gradient(to left, #008B8B, #8A2BE2);
    margin: 20px 100px 15px 100px;
    border-radius: 10px;
    padding: 5px;
    color: whitesmoke;
    text-align: center;
}

h2{
    color: #8A2BE2;
    padding: 15px;
    text-align: center;
    background: white;
    margin-bottom: auto;
    border-radius: 10px;
    opacity: 0.6;

}

h3{
    margin-left: 20px;
    text-align: center;
    font-size: 22px;
}

footer{

    background: #008B8B;
    font-size: 15px;
    color: white;
    padding: 1px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: bold;
    border-radius: 8px 8px 0px 0px;
}

.juegos{

    background: linear-gradient(to right, #008B8B, #8A2BE2);
    margin: 10px 100px 20px 100px;
    color: white;
    border-radius: 20px;  
    
}

.columna{
    display: flex;
    flex-wrap: wrap;
}

.separador{
    flex: 0 0 50%;
}

.juego{

    margin: 10px 20px 30px 20px;
    /* width: 50%; */
    
}

.contenido{

    text-align: justify; /*justifica el texto */
    border-style: dotted;
    padding: 10px;
    border-radius: 10px;
    
}

.contenido img{

    width: 80%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    border-radius: 30px;
    display: block;
    margin: 15px auto;
    
}

.btn{
    background: black;
    padding: 10px;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    margin: 5px auto;
    display: block;
    width: fit-content;
}

.negrita{

    font-weight: bold;
    color: red;
    background: white;
    text-align: center;
}

.imagenes{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 15px;
}

.imagenhover:hover{
    opacity: 0.8; /* Reduce la opacidad al pasar el mouse */
    transform: scale(1.1); /* Hace que la imagen se agrande un poco */
    transition: all 0.5s ease;
    border-radius: 30px;
}

.descripcion{
    margin: 5% 2% 5% 2%;

}

@media (max-width: 800px) {
    .separador {
      flex: 0 0 100%;
    }

    .contenido img {

        width: 80%;
    }
}
